<div class="header"
	data-ng-controller="/controllers/shared/header">
	<div class="header--top">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<img class="header--top__company-logo" src="/img/logo-company.png" alt="{{::'COMPANY_NAME'|translate}}">
				</div>
				<!-- <div class="col-sm-2">
					<button class="btn btn-primary text-right" type="button">{{::'COMPANY_CONTACT'|translate}}</button>
				</div> -->
			</div>
		</div>
	</div>
	<div class="header--nav">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="header--nav__menu">
						<li class="header--nav__menu__item">
							<a class="menu-list menu__active text-capitalize"
								href="/"
								data-handle-menu>{{::'MENU_TOP_HOME'|translate}}</a>
						</li>
						<li class="header--nav__menu__item">
							<a class="menu-list text-capitalize"
								href="/"
								data-handle-menu>{{::'MENU_TOP_SERVICES'|translate}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header--nav-banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="header--nav-banner__menu">
						<li class="header--nav-banner__menu__item">
							<a class="sub-menu-list sub-menu__active text-capitalize"
								href="/"
								data-handle-sub-menu>{{::'MENU_TOP_HOME'|translate}}</a>
						</li>
						<li class="header--nav-banner__menu__item">
							<a class="menu-list text-capitalize"
								href="/"
								data-handle-sub-menu>{{::'MENU_TOP_SERVICES'|translate}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
