$panel-default-text = #333
$panel-default-border = #ddd
$panel-default-heading-bg = #f5f5f5

_panel_variant(__BORDER, __HEADING_TEXT_COLOR, __HEADING_BG_COLOR, __HEADING_BORDER)
	border-color __BORDER

	& > .panel-header, & > .panel-footer
		color __HEADING_TEXT_COLOR
		background-color __HEADING_BG_COLOR
		border-color __HEADING_BORDER

.panel
	background-color $white
	border 1px solid transparent

	&.panel-default
		_panel_variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border)

.panel-body
	clearfix()
	padding $padding-outline

.panel-header
	padding $padding-outline (2 * $padding-outline)
	border-bottom 1px solid transparent

	&__close
		position absolute
		right 0
		top 0

.panel-footer
	padding $panel-footer-padding
	border-top 1px solid transparent
