.header
	width 100%
	height 100%

	&--left
		&__company
			color $white
			cursor pointer

	&--center
		text-align center

		&__menu
			cursor pointer
			color $gray-light-two

			&:hover
				text-decoration underline
				color $white

	&--right
		text-align right

		&__email
			color $white
