$height-logo = 70px
$height-nav-banner = 35px;

.header
	width 100%

	&--top
		padding (2 * $padding-outline) 0

		&__company-logo
			height $height-logo

		&__company-name
			color $purple-light-1
			font-weight bold
			margin-left $margin-block
			display inline-block

	&--nav
		background-color $blue

		&__menu
			margin 0
			padding 0
			list-style none

			&__item
				margin 0
				float left
				border-right 1px solid $blue-light-1

				a
					display block
					padding (1.5 * $padding-outline) (2 * $padding-outline)
					text-decoration none
					color $white
					font-size $font-large

					&:hover
						color $yellow-light-1

				&:first-child
					border-left 1px solid $blue-light-1

	&--nav-banner
		height $height-nav-banner
		background-color $blue-light-1

		&__menu
			margin 0
			padding 0
			list-style none

			&__item
				margin 0
				float left
				border-right 1px solid $blue-dark-1

				a
					display block
					padding $padding-inline $padding-outline
					text-decoration none
					color $white

					&:hover
						color $yellow-light-1

				&:last-child
					border-right none

.menu__active
	background-color $blue-light-1
	cursor default
	pointer-events none

.sub-menu__active
	color $yellow-light-1 !important
	cursor default
	pointer-events none
