.header
	width 100%

	&--top
		padding (2 * $padding-outline) 0

		&__company-logo
			width 128px

		&__company-name
			color $purple-light-1
			font-weight bold
			margin-left $margin-block
			display inline-block

	&--nav
		background-color $blue

		&__menu
			margin 0
			padding 0
			list-style none

			&__item
				margin 0
				float left
				border-right 1px solid $blue-light-1

				a
					display block
					padding $padding-outline (2 * $padding-outline)
					text-decoration none
					color $white

					&:hover
						background-color $blue-light-1
						color $yellow-light-1

				&:first-child
					border-left 1px solid $blue-light-1
