// font size
$font-base = 14px
$font-title = 18px
$font-large = 16px
$font-normal = $font-base
$font-small = 12px
$font-minium = 10px

// line height
$line-height = 1.2em

// height title for page
$height-title = 50px

// padding
$padding-inline = 5px
$padding-outline = 10px
$margin-block = 10px

// colors
$white = #FFF
$black = #333

$purple = #9E005D
$purple-drak-1 = #771E52
$purple-drak-2 = #67003C
$purple-light-1 = #CF348E
$purple-light-2 = #CF5D9F

$blue = #055C7D
$blue-dark-1 = #1A4B5E
$blue-dark-2 = #023B51
$blue-light-1 = #3598BE
$blue-light-2 = #5AA2BE

$yellow = #C79A00
$yellow-dark-1 = #957C25
$yellow-dark-2 = #816400
$yellow-light-1 = #E3BD39
$yellow-light-2 = #E3C766


// layout
$layout-1 = 1
$layout-2 = 2
$layou-top = 100
$layou-top-most = 101
