.text-title
	font-size $font-title

.text-large
	font-size $font-large

.text-normal
	font-size $font-normal

.text-small
	font-size $font-small

.text-minium
	font-size $font-minium

.text-bold
	font-weight bold
