<!DOCTYPE html>
<html data-ng-app="ecommerce">
	<head>
		<meta charset="utf-8">
		<title>Công ty CP Công Nghiệp và Dịch Vụ Đông Dương</title>

		<!-- this comment is key for inject css file to this -->
		<!-- injector:css -->
		<!-- endinjector -->

	</head>
	<body>
		<!-- <div class="site-header"
			data-ng-include="'/src/client/views/shared/header.tpl.html'"></div> -->

		<div class="site-content">
			<div data-ng-view data-ng-cloak></div>
		</div>

		<!-- <div class="site-footer"
			data-ng-include="'/src/client/views/shared/footer.tpl.html'"></div> -->

		<!-- this comment is key for inject js file to this -->
		<!-- injector:js -->
		<!-- endinjector -->
	</body>
</html>
